

* { 
		 padding: none;
		 box-sizing: border-box; 
 		 margin: none; 
 } 
 
.parent {
  display: flex;
  justify-content: flex-end;
  background-color: black;
}

.children {
  background-color: dodgerblue;
  color: yellow;
  padding: 1rem;
  margin: 2rem;
  font-family: san serif;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
}

span{
        padding: 5px 10px;
        outline: none; 
        border: none;
        font-size: 45px;
        font-family: italic;
        color: yellow;
        border-radius: 6px;
        background-color: maroon;
        text-shadow: 1px 3px 1px;
        margin-top: 2rem;  

}

body { 
				background-color: #224315;
 				padding: 1rem; 
 } 
 
 input { 
  				padding: 5px 10px;
  				outline: none; 
  				border: none;
  				font-size: 15px;
  				font-family: vanderna;
  				border-radius: 5px;
                background-color: pink;
                width: 300px; 
  } 
 
 #phone {
                padding: 5px 10px;
                outline: none; 
                border: none;
                font-size: 15px;
                font-family: vanderna;
                border-radius: 5px;
                background-color: pink;
                width: 220px; 

}

 #countrycode {
                padding: 5px 10px;
                outline: none; 
                border: none;
                font-size: 15px;
                font-family: vanderna;
                border-radius: 10px;
                background-color: pink;
                width: 80px; 
    }


 #country {
                padding: 5px 10px;
                outline: none; 
                border: none;
                font-size: 15px;
                font-family: vanderna;
                border-radius: 5px;
                background-color: pink;
                width: 300px; 
}
 
  #continent {
                padding: 5px 10px;
                outline: none; 
                border: none;
                font-size: 15px;
                font-family: vanderna;
                border-radius: 5px;
                background-color: pink;
                width: 300px; 
}

 #gender {
                padding: 5px 10px;
                outline: none; 
                border: none;
                font-size: 15px;
                font-family: vanderna;
                border-radius: 5px;
                background-color: pink;
                width: 300px; 
}


  button { 
  			  padding: 5px 10px;
  			  border: none; 
  			  border-radius: 5px; 
  			  background-color: #625613;
  			  cursor: pointer; 
  			  font-size: 15px; 
  			  font-family: vanderna;
              width: 80px; 
  			  }

